<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить нового пользователя</title>
</head>
<body>
<h1>Добавить нового пользователя</h1>
<form th:action="@{/admin/users}" th:object="${user}" method="post">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{username}" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstName}">
    </div>
    <div>
        <label for="secondName">Фамилия:</label>
        <input type="text" id="secondName" th:field="*{secondName}">
    </div>
    <div>
        <label for="age">Возраст:</label>
        <input type="number" id="age" th:field="*{age}">
    </div>
    <button type="submit">Добавить пользователя</button>
</form>
<br>
<a th:href="@{/admin/users}">Назад к списку пользователей</a>
<a th:href="@{/logout}">Выйти</a>
</body>
</html>